*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 90px;
    padding-top: 170px;
    gap: 60px;

}
#left{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

#left h1{
    font-size: 130px;
    font-weight: 500;
    font-family: Work Sans;
    line-height: 110px;
}
#bottom-left{
    width: 100%;
    
}
#color{
    width: fit-content;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 1px solid black;

}
#color h5{
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    height: 30px;
    width: 30px;
    background-color: #73ec3b;
    border-radius: 50%;
    margin: 5px;
}
#color2{
    height: 30px;
    width: 30px;
    background-color: #cf0574;
    border-radius: 50%;
}
#left h2{
    margin-top: 45px;
    font-size: 30px;
    margin-bottom: 15px;
}
#left p{
    font-size: 20px;
    width: 55%;
    font-weight: 600;
    color: #444;
    line-height: 30px;
}
#right{
    height: 100%;
    width: 33%;
    position: relative;
}
#right-top{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
#right-top h4{
    font-size: 30px;
    font-weight: 600;
}
#right-top h5{
    font-size: 16px;
}
#right-top h5 i{
    color: gold;

}
#right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    height: 190px;
    width: 190px;
    background-color: rgb(38, 48, 67);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -15%;
    top: 24%;

}
#black-gola h5{
    font-size: 26px;
    font-weight: 500;
}